---
import {loadPropDefaults} from "../../loadPropDefaults.js"
import "./style.scss"
const props = await loadPropDefaults(import.meta.dirname + '/config.yaml',Astro.props)
const actionType = "ahref"
---

{ (actionType === "ahref")
? (<a href={props.action} role="button">{props.text}</a>)
: (<button {props.action} >{props.text}</button>)
}
