---
import "./style.scss"
import path from 'path'
import $RefParser from '@apidevtools/json-schema-ref-parser'

const configPath = path.resolve(import.meta.dir, 'config.yaml')
const schema = await $RefParser.dereference(configPath)

const props = Astro.props
---


{ (actionType === "ahref")
? (<a href={props.action} role="button" class={props.class}>{props.text}</a>)
: (<button {props.action} class={props.class} >{props.text}</button>)
}
