---
import {loadPropDefaults} from "../../loadPropDefaults.js"
import Button from "@components/Button/index.astro"
import "./style.scss"
//const {headline,subheadline,ctaPrimaryText,ctaPrimaryAction,ctaSecondaryText,ctaSecondaryAction,googleReviewLink,imgSrc,imgAlt,style,imageOpacity,backgroundColor,height} = Astro.props // await loadPropDefaults(import.meta.dirname + '/config.yaml',Astro.props)
const props = Astro.props // await loadPropDefaults(import.meta.dirname + '/config.yaml',Astro.props)
---

<section class="block hero" style={"--height: " + props.height + "; --color-background: " + props.backgroundColor + "; --image-opacity: " + props.imgOpacity + ';'}>

  <div class="hero-content">
    <h1>{props.headline}</h1>
    <p>{props.subheadline}</p>
    <div class="action-row">
      <Button text={props.ctaPrimaryText} class="primary"/>
      <Button text={props.ctaSecondaryText} class="secondary"/>
    </div>
  </div>

  <img src={props.imgSrc}/>

</section>
<!--
<section class="block hero" style={"--height: " + height + "; --color-background: " + backgroundColor + "; --image-opacity: " + imageOpacity + ';'}>

  <div class="hero-content">
    <h1>{headline}</h1>
    <p>{subheadline}</p>
    <ButtonLink text={ctaPrimaryText}/>
    <ButtonLink text={ctaSecondaryText}/>
  </div>

  <img src={imgSrc}/>

</section>
-->
