---
import {loadPropDefaults} from "../../loadPropDefaults.js"
import ButtonLink from "@components/ButtonLink/index.astro"
import "./index.scss"
const {headline,subheadline,ctaPrimaryText,ctaPrimaryAction,ctaSecondaryText,ctaSecondaryAction,googleReviewLink,imageSrc,imageAlt,style,imageOpacity,backgroundColor,height} = loadPropDefaults(import.meta.dirname + '/config.yaml',Astro.props)
---

<section class="block hero" style={"--height: " + height + "; --background-color: " + backgroundColor + "; --image-opacity: " + imageOpacity + ';'}>

  <div class="hero-content">
    <h1>{headline}</h1>
    <p>{subheadline}</p>
    <ButtonLink text={ctaPrimaryText}/>
    <ButtonLink text={ctaSecondaryText}/>
  </div>

    <img src={imageSrc}/>

</section>
