---
const {meta: metaUserSupplied} = Astro.props
// Recommended to at least set, title, description, image, icon, author, url
const meta =
{ title:              "Wanderlight — Stories From the Road Less Traveled"
, description:        "A backpacker’s journal of slow travel, mountain trails, and offbeat adventures around the world. Tips, stories, and inspiration for life on the move."
, image:              "https://images.pexels.com/photos/547115/pexels-photo-547115.jpeg"
, card:               "summary_large_image"
, icon_legacy:        "/favicon.ico"
, icon:               "/favicon.svg"
, icon_sm:            "/favicon.svg"
, icon_lg:            "/favicon.svg"
, url:                "https://example.com"
, locale:             "en_US"
, type:               "website"
, twitterHandle:      ""
, author:             "Site Creators Name"
, robots:             "index, follow"
, themeColor:         "oklch(99% 1% 230deg)"
, themeColorLight:    "oklch(99% 1% 230deg)"
, themeColorDark:     "oklch(1% 2% 30deg)"
, fbAppId:            ""
, ...metaUserSupplied
}
---

<!-- General -->
<title>{meta.title}</title>
<meta name="description" content={meta.description} />
<meta name="robots" content={meta.robots}>
<meta name="theme-color" content={meta.themeColor}" >
<meta name="theme-color" content={meta.themeColorLight} media="(prefers-color-scheme: light)" >
<meta name="theme-color" content={meta.themeColorDark} media="(prefers-color-scheme: dark)" >
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
{ meta.fbAppId && 
  <meta property="fb:app_id" content={meta.fbAppId} />
}
{ meta.author && 
  <meta name="author" content={meta.author} />
}

<!-- Facebook -->
<meta property="og:title"             content={meta.title} />
<meta property="og:description"       content={meta.description} />
<meta property="og:type"              content={meta.type} />
<meta property="og:image"             content={meta.image} />
<meta property="og:url"               content={meta.url}>
<meta property="og:locale"            content={meta.locale} />

<!-- Twitter -->
<meta property="twitter:title"        content={meta.title} / >
<meta property="twitter:description"  content={meta.description} />
<meta property="twitter:image"        content={meta.image} />
<meta name="twitter:card"             content={meta.card} />
<meta name="twitter:url"              content={meta.url}>

{ meta.twitterHandle && 
  <meta name="twitter:site"           content={meta.twitterHandle} />
}
{ meta.author && 
  <meta name="twitter:creator"        content={meta.author} />
}

<!-- Icons --> 
<link href={meta.icon_sm}     rel="shortcut icon" type="image/svg+xml">
<link href={meta.icon_legacy} rel="icon"          sizes="32x32">
<link href={meta.icon_lg}     rel="apple-touch-icon">

