---
const { headline    = "<What do you do?>"
      , subheadline = "<Why Does that matter?>"
      , ctaPrimary  = { text: "<Get Now>", link: "tel:123"}
      , ctaSecondary = {text: "<Convince me first>", link: "#about"}
      , googleReviewLink = ""
      , imageSrc = "https://images.pexels.com/photos/547115/pexels-photo-547115.jpeg"
      , style = ""
      , imageOpacity = ".4"
      , backgroundColor = "black"
      } = Astro.props
import Button 	    from "@components/Button.astro"



// style = { alignment: [overlay, left, right], }
---
<section class="block hero">

  <div class="background" style={"background: " + backgroundColor}>
    <img src={imageSrc}/ style={"opacity: " + imageOpacity}>
  </div>

  <div class="content stack box">
    <h1>{headline}</h1>
    <p>{subheadline}</p>

    <div class="cta">
      <Button text={ctaPrimary.text} />
      <Button text={ctaSecondary.text} />
    </div>

    <div class="reviews"></div>
  </div>

</section>

<style>
  section.block.hero {
    position: relative;
    height: 90vh;
    max-height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    .background {
      position: absolute;
      height: 100%;
      top: 0;
      z-index: 0;
      img {
        height: 100%;
      }
    }
    .content {
      position: relative;
      z-index: 1;

    }
  }
</style>

  <!--
hero:
  headline:
    question: What do you do(result)
    text: 'Electrical services you can trust'
  subheadline:
    question: 'Why does that matter'
    text: 'Reliable, certified electrical services for homes and businesses, done professionally, the first time, every time.'
  cta:
    question: 'How do they get it'
    text: 'Call for a quote!'
  social_proof:
    google_reviews:

  outcomes:
    - Reliable
    - Professional
    - Efficient #Better Results, More Results, Faster Results

  image:
    description: 'Image of a customer enjoying the benefit'
    url: ''
  -->
