---
const { imgSrc = "https://images.pexels.com/photos/1822458/pexels-photo-1822458.jpeg"
      , imgAlt = "A man hikes on a rocky mountain trail surrounded by tall trees, showcasing adventure and exploration. Stock Photo"
      , imgCaption = "Hiking on a rocky mountain"
      , text = "Nice places to go"
      , headline = "About"
      , id = ""
      } = Astro.props
---
<section class="block media-text" aria-labelledby="about-heading" {id}>

    <div class="block center stack" >
      <h2 id="about-heading">{headline}</h2>

      <div class="text-body">
        { text.trim().split('\n').map( p =>
          (<p>{p}</p>)
        )}
      </div>
    </div>

    <figure>
      <img src={imgSrc} alt={imgAlt} />
      <figcaption>{imgCaption}</figcaption>
    </figure>

</section>

<style>
  section.block.media-text {
    article {
      display: contents;
    }
    display: flex;
    flex-direction: row;
    > * {
      flex: 1 1 30rem;
    }
    figure img {
      max-width: 100%;
    }
  }
</style>
