---
import SpeedInsights  from "@vercel/speed-insights/astro"
import SEO from "../components/SEO/index.astro"
import Theme from "../components/Theme/index.astro"
import "@styles/global.scss"
import { kebabCase } from 'change-case'
const {meta} = Astro.props
const toVars =
  fonts => Object.entries(fonts).map( f => "--font-"+kebabCase(f[0]) + ": var(--font-" + kebabCase(f[1]) + ");").join('')
---

<!doctype html>
<html lang={meta.locale}>

  <head>
		<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Astro">
    <SEO {meta} />
    <Theme {meta} />
    { meta.vercelSpeedInsights && <SpeedInsights/> }
  </head>
  
  <!--<body style={toVars(meta.fonts)}>-->
  <body>
    <slot />
  </body>
</html>
